p,ol,ul, table
{
	font-family : "comic sans MS", serif;
	font-size : 13pt;
	text-align : left;
	color : LightSkyBlue;
}

h1,h2,h3,h4
{
	color : Aquamarine;
}

h2
{
	font-size : 25pt;
}

body 
{
	background-color : Grey;
}

.heading
{
	color : LightSeaGreen;
}

#Ducks 
{
	font-size : 36pt;
	text-align : center;
}

#sources
{
	font-family : serif;
}
img
{
	border-color : AliceBlue;
	border-style : solid;
	border-width : 2px;
	padding : 0%;
	margin-right : 0%;
}

h4
{
	font-size : 17pt;
}

h3
{
	font-size : 20pt;
}

table
{
	margin-left : 0%;
	width : 100%
}

.image
{
	width : 250px;
}

a
{
	color : Aqua;
}

.navbar 
{
  overflow: hidden;
  background-color: CadetBlue;
  font-family: Serif;
}

/* Links inside the navbar */
.navbar a
 {
  float: left;
  font-size: 16pt;
  color: Aqua;
  text-align: center;
  padding: 14px 84px;
  font-family : Serif;
}

/* The dropdown container */
.dropdown 
{
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .button 
{
  font-size: 16pt; 
  border: none;
  outline: none;
  color: Aqua;
  padding: 14px 84px;
  background-color: CadetBlue;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .button
{
  background-color: Silver;
}

/* Dropdown content (hidden by default) */
.content
 {
  display: none;
  position: absolute;
  background-color: Silver;
  min-width: 220px;
  z-index: 1;
}

/* Links inside the dropdown */
.content a 
{
  float: none;
  color: aqua;
  padding: 12px 16px;
  display: block;
  text-align: left;
}

/* Add a beige background color to dropdown links on hover */
.content a:hover
 {
  background-color: Silver;
}

/* Show the dropdown menu on hover */
.dropdown:hover .content 
{
  display: block;
}